<p>
  <strong>Titre:</strong>
  <%= @advert.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advert.description %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @advert.price %>
</p>
<%= link_to 'Back', adverts_path %>
